.footer-flex {
  background-color: rgb(209, 218, 226);
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: space-around;
}

.footer-link {
  display: block;
  width: 50px;
  align-self: center;
  text-align: center;
  height: 100%;
  color: black;
  transition: 0.4s cubic-bezier(.14, .64, .16, 1);
}

.footer-link:hover {
  background-color: rgb(182, 192, 201);
}

@media screen and (max-width: 500px) {
  .footer-flex {
    flex-direction: column;
    height: 150px;
    padding-left: 0px;
  }

  .footer-link {
    margin: 0px;
    width: 100%;
  }
}