.navbar {
   background-color: rgb(209, 218, 226);
   display: flex;
   flex-direction: row;
   padding-left: 35px;
}

.navbar-link {
   display: block;
   align-self: center;
   padding: 15px;
   width: auto;
   text-decoration: none;
   color: black;
   text-align: center;
   font-family: 'Manrope';
   transition: 0.4s cubic-bezier(.14, .64, .16, 1);
}

.active {
   background-color: rgb(196, 206, 214);
   padding: 15px 40px;
   transition: 0.4s cubic-bezier(.14, .64, .16, 1);
}

.navbar-link:hover {
   background-color: rgb(182, 192, 201);
}

@media screen and (max-width: 500px) {
   .navbar {
      flex-direction: column;
      padding-left: 0px;
   }

   .active {
      padding: 15px 0px;
      transition: none;
   }

   .navbar-link {
      padding: 15px 0px;
      width: 100%;
   }
}